/*����������ϸ��ʽ*/
/*����top��ʽ��ʼ*/
a {
    text-decoration: none;
    cursor: pointer;
    color: #444;
}

a:focus {
    outline: none;
}

a:hover, a:active {
    outline: none;
    text-decoration: none;
}

/*����top��ʽ����*/
/*����ҳ�沼�ֿ�ʼ*/
.wapper {
    width: 100%;
    position: relative;
}

.mainwraper {
    width: 990px;
    margin: 0 auto;
    overflow: hidden;
}

/*����ҳ�沼�ֽ���*/
/*ҳ�������ʽ��ʼ*/
.sub-c ul li.pro-list {
    border-bottom: none;
}

.sub-c ul li.pro-list h3 {
    position: relative;
    margin-bottom: 10px;
}

.sub-c > .pro-list {
    padding: 0 10px 10px 0;
}

.pro-list {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #d2d2d2;
    padding: 5px 0;
}

.pro-list h3 {
    color: #05b;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.pro-list h4 {
    color: #222;
    font-size: 16px;
    border-left: none;
    margin-top: -30px;
    margin-left: 90%;
}

.financedetail-foncus {
    margin-top: 10px;
    width: 100px;
    color: #ffffff;
    display: inline-block;
    *display: inline;
    background-color:#E43C4B;
    text-align: center; /*������ݾ���չʾ*/
    /* border: 1px solid #ff0000; */
    /*border-radio: 10px;*/
    font-size: 16px;
    border-radius: 10px;
    height: 25px;
    vertical-align: middle;
    line-height: 25px;
}

/*ҳ�������ʽ����*/
/*���������ʽ��ʼ*/
.detail-table {
    width: 100%;
    border-collapse: collapse;
}

.detail-table tbody tr td {
    padding: 10px 0;
    word-break: break-all;
    width: 30%;
}

.detail-table tbody tr td .ui-combobox input {
    margin-right: 0;
}

/*����������ߵı�������*/
.detail-table tbody tr td.financedetailtitleleft {
    font-size: 14px;
    width: 1%;
    text-align: left;
    color: #000;
    font-weight: bold;
    white-space: nowrap;
    padding-left: 50px;
    border-bottom: 1px dotted #c4c4c4;
}

/*���������ұߵı�������*/
.detail-table tbody tr td.financedetailtitleright {
    font-size: 14px;
    width: 1%;
    text-align: left;
    color: #000;
    font-weight: bold;
    white-space: nowrap;
    border-bottom: 1px dotted #c4c4c4;
}

/*�����»���*/
.detail-table tbody tr td.financedetaildata {
    border-bottom: 1px dotted #c4c4c4;
}

/*�������ҿհ�֮����ʽ*/
.detail-table tbody tr td.financedetaildatablank {
    padding: 10px 0;
    word-break: break-all;
    width: 5%;
    border-bottom: 1px dotted #ffffff;
}


.sub-c {
    background: #fff;
    padding: 15px;
    overflow: hidden;
    min-height: 350px;
}

.sub-c h1 {
    color: #0068b7;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px dotted #ccc;
}

/*���������ʽ����*/
/*���ذ�ť��ʽ��ʼ*/
.btn-area {
    clear: both;
    overflow: hidden;
    margin: 10px auto;
    text-align: center;
}

.reset-btn {
    background: #00b268;
    border: 1px solid #abb0b3;
    border-radius: 10px;
    /*border-radio: 10px;*/
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 14px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    width: 87px;
}

.reset-btn:hover {
    color: #00b268;
    background: #bbc2c6;
}

/*���ذ�ť��ʽ����*/
/*�������ͼƬ�������ʽ��ʼ*/
/*���ʽ��*/
.financemoneyicon {
    margin-top: 20px;
    margin-left: 4%;

}

.financemoney {
    margin-top: -50px;
    margin-left: 10%;

}

.financemoneytitle {
    font-size: 18px;
}

.financemoneydata {
    font-size: 28px;
    color: red;
    font-weight: bold;
}

/*ռ���ʲ�ʱ��*/
.financetimeicon {
    margin-top: -58px;
    margin-left: 39%;
}

.financetime {
    margin-top: -50px;
    margin-left: 45%;
}

.financetimetitle {
    font-size: 18px;
}

.financetimedata {
    font-size: 28px;
    color: #00768e;
    font-weight: bold;
}

/*�ɳе������Ϣ*/
.financeinteresticon {
    margin-top: -58px;
    margin-left: 74%;
}

.financeinterest {
    margin-top: -50px;
    margin-left: 80%;
}

.financeinteresttitle {
    font-size: 18px;
}

.financeinterestdata {
    font-size: 28px;
    color: #804fc6;
    font-weight: bold;
}

/*�������ͼƬ�������ʽ����*/
/*��Ŀ������ʽ��ʼ*/
.overview {
    margin-top: 10px;
    background: #f8f6f1;
}
.pointimg{
    margin-top: 10px;
    margin-left: -10px;
}
.overviewtitle {
    text-align: center;
    line-height: 50px;
    width: 200px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold; /*����Ӵ�*/
    margin-left: -120px;
    /*background: #B69987;*/
    /*border: 1px solid #B69987;*/
    /*border-radio: 30px;*/
}


.overviewdatadiv {
    /*margin-top: 10px;*/
    margin-left: 50px;
    background: #f8f6f1;
}

.overviewdata {
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    /*color: #FFFFFF;*/
    font-weight: bold; /*����Ӵ�*/
    padding-left: 30px;
}

/*��Ŀ������ʽ����*/
/*����ע��ʽ��ʼ*/
.otherremark {
    margin-top: 10px;
    background: #f8f6f1;
}

.otherremarkdatadiv {
    /*margin-top: 10px;*/
    background: #f8f6f1;
    margin-left: 50px;
}

.otherremarkdata {
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    /*color: #FFFFFF;*/
    padding-left: 30px;
    font-weight: bold; /*����Ӵ�*/
}

/*����ע��ʽ����