body {
    font-size: 14px;
    font-family: "Microsoft YaHei";
    overflow-x: hidden;
}

/*鍏叡HEADER*/
.logo {
    width: 1000px;
    margin: 25px auto;
}

.logoLeft a {
    background: url(../images/logo.png) no-repeat 20px center;
    display: inline-block;
    width: 300px;
    cursor: pointer;
    padding-left: 265px;

}

.logoLeft a p {
    height: 16px;
    line-height: 16px;
    color: #333;
    margin: 0;
    padding-left: 20px;
    border-left: 1px solid #cfcfcf;
}

.logoRight {
    float: right;
}

.logoRight a {
    display: inline-block;
    padding: 8px 20px;
    margin-left: 10px;
    color: #0453AF;
    border: 1px solid #D1E2F4;
    background: #EDF3F8;
}

.logoRight a:hover {
    color: #EDF3F8;
    border: 1px solid #D1E2F4;
    background: #0453AF;
}

.header {
    background-color: #0D4F92;
}

.header .nav {
    width: 1000px;
    width: 1018px \9;
    margin: 0 auto;
}

.header .nav li {
    float: left;
    font-size: 18px;
    height: 58px;
    line-height: 58px;
}

.header .nav li a {
    color: #fff;
    padding: 0 36px;
}

.header .nav li a:active {
    color: #fff;
}

.header .nav li:hover {
    background-color: #083671;
}

.header .nav li.active {
    background-color: #083671;
}

/*鍏叡HEADER END*/

/*鍏叡FOOTER*/
.footer {
    border-top: 1px solid #DFE1E5;
}

.footer .contentAndFocus {
    width: 1000px;
    margin: 0 auto;
    color: #333;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer .footLeft p {
    font-size: 24px;
    margin: 8px auto;
}

.footer .footLeft {
    float: left;
}

.footer .footRight {
    float: right;
    text-align: right;
    margin-top: 10px;
}

.footer .footRight .focusUs a {
    padding: 18px;
    background: no-repeat center center;
    margin-right: 10px;
    position: relative;
}

.footer .footRight .focusUs a div {
    display: none;
    width: 120px;
    height: 150px;
    border: 1px solid #DFE1E5;
    position: absolute;
    bottom: 60px;
    left: -40px;
    text-align: center;
}

.footer .footRight .focusUs a div p {
    margin: 0px;
    padding-top: 110px;
    line-height: 16px;
}

.footer .footRight .focusUs span {
    margin-right: 25px;
}

.footer .footRight .focusUs #wechat {
    background-size: 36px 36px;
    background-image: url(../images/wechat-logo.png);
}

.footer .footRight .focusUs #wechat div {
    background: #fff url(../images/wechat.png) no-repeat center 10px;
}

.footer .footRight .focusUs #weibo {
    background-size: 36px 36px;
    background-image: url(../images/weibo-logo.png);
}

.footer .footRight .focusUs #weibo div {
    background: #fff url(../images/weibo.png) no-repeat center 10px;
}

.footer .footRight .footNav {
    margin-top: 25px;
}

.footer .footRight .footNav li {
    float: left;
}

.footer .footRight .footNav li a {
    color: #C5C3C3;
    margin-left: 30px;
}

.footer .footRight .footNav li a:hover {
    color: #0D4F92;
}

.copyright {
    background-color: #484849;
}

.copyright p {
    width: 1000px;
    margin: 0 auto;
    color: #E2E2E3;
    padding-left: 10px;
    height: 60px;
    line-height: 60px
}

/*鍏叡FOOTER END*/
/*涓氬姟涓讳綋鑳屾櫙寮�濮�*/
.main-background {
    background: #EEF3F9;
}

/*涓氬姟涓讳綋鑳屾櫙缁撴潫*/
/*杩斿洖鎸夐挳鏍峰紡寮�濮�*/
.return-area {
    clear: both;
    overflow: hidden;
    margin: 10px auto;
    text-align: center;
}

.return-btn {
    background: #00b268;
    border: 1px solid #00b268;
    border-radius: 10px;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 14px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    width: 87px;
}

.return-btn:hover {
    border: 1px solid #bbc2c6;
    color: #FFFFFF;
    background: #bbc2c6;
}

/*杩斿洖鎸夐挳鏍峰紡缁撴潫*/
/*褰撳墠浣嶇疆鏍峰紡寮�濮�*/
.current-position {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    /*background: #f3f3f3; !*#9d192b;*!*/
    line-height: 30px;
    color: #000000;
}

/*褰撳墠浣嶇疆缁撴潫*/

/*鍏卞灏戞潯鏁版嵁鏍峰紡寮�濮�*/
.center-dotted {
    margin-top: -3px;
    border-top: 1px solid #BDC4CA;
    /*border-bottom: 1px solid #BDC4CA;*/
    width: 100%;
    position: relative;
    height: 30px;
}

.center-dotted-bottom {
    border-bottom: 1px solid #BDC4CA;
    width: 100%;
    position: relative;
    height: 30px;
}

.center-dotted span {
    background: #FFFFCC;
    color: #03081e;
    /*left: 50%;*/
    /*margin-left: -100px;*/
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    font-size: 14px;
    font-weight: bold; /*瀛椾綋鍔犵矖*/
    line-height: 30px;
}

/*鍏卞灏戞潯鏁版嵁鏍峰紡缁撴潫*/
