.container {
    position: relative;
    background: url(../images/loginlight.jpg) no-repeat center center;
}

/*页面主体*/
.main {
    position: relative;
    width: 100%;
    height: 60%;
}
.login-box form{
    float:left;
    background: #FFFFFF;
    margin-left: 20%;
    margin-top: 50px;
    width:350px;
    height:350px;
    /*margin-top: 100px;*/
}
/*登陆框*/
.login-box .input {
    position: absolute;
}

.login-box .input label {
    font-size: 18px;
}

.login-box .input input {
    position: absolute;
    left: 67px;
    top: 0;
    height: 39px;
    *line-height: 39px;
    padding: 0 20px 0 10px;
    border: none;
    outline: none;
}

/*菜单名称*/
.login-box .logintitle {
    margin-top: 20px;
    /*margin-left: 20%;*/
    padding-left: 10px;
}

.login-box .loginfont {
    height: 50px;
    width: 300px;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 3px solid black;
    border-color: #c0c0c0;
    margin-top: 0px;
}

.loginfontzh {
    font-weight: bold;
}

/*用户名样式*/
.login-box .username {
    margin-top: 110px;
    /*margin-left: 20%;*/
    padding-left: 10px;
}

.login-box .username input {
    /*background: url(../img/userinput.png);*/
    background: #F4F5F7;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    width: 250px;
    margin-left: -20px;
    margin-top: -8px;

}

/*密码样式*/
.login-box .psw {
    margin-top: 160px;
    /*margin-left: 20%;*/
    padding-left: 10px;
}

.login-box .psw input {
    /*background: url(../img/passwordinput.png);*/
    background: #F4F5F7;
    font-size: 14px;
    font-weight: bold;
    color: #33AED8;
    width: 250px;
    margin-left: -20px;
    margin-top: -8px;
}

/*验证码样式*/
.login-box .validate {
    margin-top: 210px;
    /*margin-left: 16%;*/
    margin-left: -50px;
}

.login-box .validate input {
    background: #F4F5F7;
    width: 150px;
    font-size: 14px;
}

.login-box .validate .value {
    margin-left: 200px;
}

.yzmimg {
    margin-top: 0px;
    margin-left: 30px;
}

/*登录按钮*/
.loginButton {
    position: absolute;
    margin-top: 280px;
    margin-left: 1%;
}

.loginButton input {
    width: 280px;
    height: 39px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background: #50B16A;
    color: #FFFFFF;
    border: 1px solid #50B16A;
    border-radius: 10px;
}

.loginButton input:hover {
    color: #000000;
}

.cone {
    color: #999999;
    position: absolute;
    margin-left: 19%;
    margin-top: 6.8%;
    height: 50px;
    font-size: 1.35em;
}